[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ipdb = "*"
jupyter = "*"
pipenv-to-requirements = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
flake8 = "*"
flake8-tidy-imports = "*"
pycodestyle = "*"
isort = "*"

[packages]
django = "*"
lxml = "*"
djangorestframework = "*"
inflection = "*"
django-treebeard = "*"
python-dateutil = "*"
pyyaml = "*"
requests = "*"
isodate = "*"
django-modeltranslation = "*"
pydantic = "*"

[requires]
python_version = "3.7"
