[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ipdb = "*"
jupyter = "*"
pipenv-to-requirements = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
flake8 = "*"
flake8-tidy-imports = "*"
pycodestyle = "*"
isort = "*"
django-fiesta = {editable = true,path = "."}
pytest-xdist = "*"
pdbpp = "*"
pytest-spec = "*"
django-extensions = "*"
pydotplus = "*"

[packages]
django = "*"
lxml = "*"
djangorestframework = "*"
inflection = "*"
django-treebeard = "*"
python-dateutil = "*"
requests = "*"
isodate = "*"
django-modeltranslation = "*"
django-fiesta = {editable = true,path = "."}
django-oscar = "*"
django-model-utils = "*"

[requires]
python_version = "3.7"
