[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ipdb = "*"
jupyter = "*"
pipenv-to-requirements = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
flake8 = "*"
flake8-tidy-imports = "*"
pycodestyle = "*"
isort = "*"
pytest-xdist = "*"
pdbpp = "*"
pytest-spec = "*"
django-extensions = "*"
pydotplus = "*"

[packages]
lxml = "*"
inflection = "*"
django-treebeard = "*"
python-dateutil = "*"
requests = "*"
isodate = "*"
django-fiesta = {editable = true,path = "."}
django = "*"
django-multi-email-field = {editable = true,git = "https://github.com/TheBimHub/django-multi-email-field.git",ref = "django2.2"}
django-versionfield = {editable = true,git = "https://github.com/lerooze/django-versionfield.git",ref = "django3"}
django-modeltranslation = {editable = true,git = "https://github.com/deschler/django-modeltranslation.git"}
django-rest-framework = {editable = true,git = "https://github.com/encode/django-rest-framework.git"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
